@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMonoNL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
}